{% extends '_base.html' %}

{% block title %}{{ log.sub_name }} Logs{% endblock title %}

{% load socialaccount %}
{% load markdownify %}
{% load static %}

<main>
{% block content %}
    <br>
    <br>
    <br>

    {% if user.is_authenticated %}
        {% for log in log_list %}
        <div class="container-sm text-left border">
          <div class="row border-bottom">
            <div class="col-sm-7">{{ log.mod_action }}</div>
            <div class="col-sm-5">{{ log.mod_time|date:'Y-m-d H:i'}} </div>
          </div>
            <div class="row">
                <div class="col-sm-12">{{ log.mod_item| markdownify | truncatewords:50 }}</div>
                <br>
            </div>
          <div class="row border-top">
            <div class="col-sm-7">{{ log.mod_name }}</div>
            <div class="col-sm-5">{{ log.sub_user }}</div>
          </div>
            <div class="row border-top">
                <div class="col-sm-12"><a href="{{ log.mod_link}}">log permalink</a></div>
            </div>
          </div>
            <div class="row"></div>
            <br><br>
        {% endfor %}
    {% else %}
         {% for log in log_list %}
        <div class="container text-left border">
          <div class="row border-bottom">
            <div class="w-75 p-3">{{ log.mod_action }}</div>
            <div class="w-25 p-3">{{ log.mod_time|date:'Y-m-d H:i'}} </div>
          </div>
            <div class="row">
                <div class="w-100 p-5">{{ log.mod_item|markdownify|truncatewords:50 }}</div>
                <br>
            </div>
            <div class="row border-top">
                <div class="w-100 p-3"><a href="{{ log.mod_link}}">log permalink</a></div>
            </div>
          </div>
            <div class="row"></div>
            <br><br>
        {% endfor %}

    {% endif %}

{% endblock content %}
</main>